version: 2
jobs:
  ios:
    macos:
      xcode: 10.3.0

    steps:
      - checkout

      - run:
          name: Install React Native dependencies
          command: |
            brew update
            brew install watchman cocoapods || exit 0
            
      - run:
          name: Install Node dependencies
          command: |
            npm i
            npm i react@16.8.3

      - run:
          name: Run unit tests
          command: npm test

      - run:
          name: Install command line interfaces
          command: npm install -g cavy-cli react-native-cli wml

      - run:
          name: Clone CavyTester repo
          command:
            git clone https://github.com/pixielabs/cavy-tester.git ~/cavy-tester

      - run:
          name: Install CavyTester dependencies
          command: |
            cd ~/cavy-tester
            npm i
            cd ios
            pod install

      - run:
          name: Link local Cavy version
          command: |
            (sleep 1; echo -e 'y\n'; sleep 1; echo -e 'y\n') | wml add ~/project ~/cavy-tester/node_modules/cavy
            wml start

      - run:
          name: Build app and run tests
          command: |
            cd ~/cavy-tester
            rm -rf $TMPDIR/react-* $TMPDIR/haste-* $TMPDIR/metro-*
            watchman watch-del-all
            react-native start --reset-cache &
            cavy run-ios

workflows:
  version: 2
  ios:
    jobs:
      - ios
